
#formaddpost{
    display: flex;
    align-items:center;
}

.login-register{
    padding-left: 5em;
}

.mainsection{
    width: 100%;
    height: 700px;
    background-image: url(https://github.com/9nnative/PHP/blob/master/Exercices/Forum/ForumMVC/public/img/wallpaper.jpg?raw=true);
}